@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ResearchIT</h1>
    <p class="lead">ResearchIT is a task management system that aims to automate simple research tasks</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Build your schedule and let ResearchIT store do the rest (yes its a calendar)
        </p>
        <p>
            <a class="btn btn-default" href="/Tasks">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Not really sure what we want here</h2>
        <p>
            Maybe a suggestions option?
        </p>
        <p>
            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301950">Learn more &raquo;</a>
        </p>
    </div>
</div>
