
@{
    ViewBag.Title = "Tasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="/Scripts/tasks.js"></script>
<!-- this button should be used to create a new card to use -->
<button onclick="return drawRectangle();">New Card</button>
<br />
<br />
<canvas id="myCanvas" width="300" height="150" style="border:1px solid #d3d3d3;"></canvas>

